.total {
    text-align: center;
    max-height: 280px;
    width: 40%;
    padding: 20px 10px;
    background: #206e3e;
    border-radius: 10px;
}

.total__price {
    margin-left: 20px;
    text-align: left;
    font-size: 27px;
    margin-bottom: 30px;
}

.total__sum {
    font-weight: 700;
}

.total__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.total__radio {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.total__radio input{
    margin-right: 5px;
}

.total__btn {
    display: inline-block;
    margin: 0 auto;
    max-width: 200px;
    padding: 10px 20px;
    font-size: 18px;
    background: #024c15;
    border-radius: 10px;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    transition: all .3s;
}

.total__btn:hover {
    background: #209600;
    box-shadow: 2px 2px 5px #000;
}