.counter {
    padding: 20px 0;
}


.counter__result {
    padding: 10px;
}

.counter__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ffffff;
    color: #000;
    font-weight: 700;
    border-radius: 5px;
}