.panel__list {
    position: sticky;
    top: 150px;
    max-height: 400px;
}

.panel__item button {
    width: 200px;
    font-size: 20px;
    margin-bottom: 8px;
    padding: 20px;
    list-style: none;
    text-align: center;
    border: 2px solid #33821f;
    background: #33821f4f;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 1px 1px 3px black;
    transition: .4s;
}

.panel__item button:hover {
    box-shadow: 0 0 15px #082601;   
}

.panel__item button:disabled {
    background: rgb(65, 65, 65);
    border: 2px solid #1d1d1d;
    color: #878787;
}

.panel__item button:disabled:hover {
    box-shadow: none;
}

.panel__item.active button {
    background: #33821f;    
    border: 2px solid #33821f;
    color: #fff;
}
