.panel__item button {
    width: 200px;
    font-size: 20px;
    margin-bottom: 8px;
    padding: 20px;
    list-style: none;
    text-align: center;
    border: 2px solid #33821f;
    background: #33821f4f;
    border-radius: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

.active button{
    background: #33821f;
}