.board__card {
    width: 100%;
    text-align: center;
    color: #fff;
}

.board__link {
    display: inline-block;
    width: 100%;
    background: #00000081;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

.board__link-text {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.board__link img {
    width: 100%;
    display: flex;
}

.card__main-info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.star {
    position: relative;
}

.star::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    background: url('../../resources/icons/star.png') center/cover no-repeat;
}