.board__card {
    width: 100%;
    text-align: center;
}

.board__link {
    display: inline-block;
    width: 100%;
    background: #fdfdfd;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
}

.board__link-text {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.board__link img {
    width: 100%;
    display: flex;
}

.card__main-info {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}