.header {
    padding: 20px;
    background: #fa7777;
}


.header__btns {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.header__btn {
    padding: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: transparent;
    border: none;
    border-radius: 10px;
    min-width: 90px;
    cursor: pointer;
    transition: .3s;
}

.header__btn:hover {
    background: #fc9b9b;
    box-shadow: 2px 2px 5px #803e3ea8;
}