nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding: 20px;
    background: #000000;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__logo {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0 0 12px #33821f, 0 0 12px #33821f;
    padding-right: 10px;
    text-shadow: 0 0 10px #33821f, 0 0 10px #33821f, 0 0 10px #33821f, 0 0 10px #33821f;
}

.header__btns {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.header__item {
    list-style: none;
}

.header__btn {
    padding: 15px 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    background: transparent;
    border: none;
    border-radius: 10px;
    min-width: 150px;
    cursor: pointer;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px black;
    letter-spacing: 1px;
    position: relative;
}

.header__btn:hover {
    background: #33821f;
    box-shadow: 3px 3px 5px #4588349a;
}

.header__btn:hover .cart__item{
    color: #ffffff;
}

.cart {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.cart__item {
    position: absolute;
    right: 7px;
    font-size: 14px;
    margin-left: 5px;
    color: #33821f;
}