

.list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00000081;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.list__wrapper {
    display: flex;
    align-items: center;
    gap: 25px;
}

.list__item img {
    width: 100px;
    border-radius: 10px;
}

.list__btn {
    height: 35px;
    padding: 0 20px;
    border-radius: 10px;
    transition: all .3s;
    background: #33821f4f;
}

.list__btn:hover {
    background: #33821f;
}

.empty {
    margin-top: 50px;
    text-align: center;
}

.empty__text {
    font-size: 32px;
    color: #fff;
    margin-bottom: 40px;
}

.empty__btn {
    background: #33821f8c;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
    transition: all .3s;
}

.empty__btn:hover {
    background: #33821f;
}