* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    /* background: #f0f5f7; */
    background: #3a3c3d;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
}