.board {
    width: 750px;
}

.board__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    list-style: none;
    gap: 50px 20px;
}

.banner {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

.banner__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.banner img {
    object-fit: cover;
    background: #33821f;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 3px 4px 7px black;
}